.mainTitle {
  font-size: 100px;
}

.container {
  width: 100%;
}

.selectTitle {
  margin: 20px 0px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
  transition: all 0.1s ease-in; 
}

.item:hover {
  transform: scale(1.05); 
}
.item:nth-child(1) {
  background: url("/program1.jpg");
}
.item:nth-child(2) {
  background: url("/program2.jpg");
}
.item:nth-child(3) {
  background: url("/program3.jpg");
}
.item:nth-child(4) {
  background: url("/program1.jpg");
}
.item:nth-child(5) {
  background: url("/program2.jpg");
}


.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  background-color: #b49485;
}

/* .item:hover .title {
  color: #53c28b;
} */
