* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.light {
  background-color: #e2e4dc;
  color: #111;
}

.dark {
  background-color: #000000;
  color: #ffffff;
  
}
.dark {
  background-color: #000000;
  color: #ffffff;
  
}

.darkSocial {
  color: #ffffff;
}
.container {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
